* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center;  */
    height: 60px;
    background-color: black;
    color: white;
    /* position: fixed; */
    /* top: 0px; */

}

.header-box p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    color: #FFFFFF;
    /* padding-left: 244px; */
}

.SignInBox a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #FFFFFF;
}

.navbar-box {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;


}

.navbar-box p {
    font-size: 36px;
    color: #212529;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-box ul {
    display: flex;
    list-style: none;
}

.navbar-box ul li {
    padding: 20px;
}

.navbar-box ul li a {
    text-decoration: none;
    /* position: relative; */
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    z-index: 5;
}

.navbar-box ul li a:hover {
    border-bottom: 2px solid red;
}
.navbar-box img {
    padding: 15px;
}



body{
    /* background: url("/sign-up\ bg.jpg") no-repeat center center/cover; */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 150vh;
    width: 100%;

}
.container {
    min-height: 50vh;
    height: 100%;
    background-color: #673e631f;
    width: 50%;
    min-width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
    padding-top: 20px;
}
.otp-login-section h1{
    color: rgb(255, 255, 255);;
    margin: 10px;
    font-size: 30px;
    font-family:"Nunito Sans", sans-serif ;
    text-align: center;
}
.otp-login-section{
    margin-top: 160px;
    text-align: center;
}
.otp-login-box input{
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    width: 30%;
    font-size: 16px;
    opacity: 0.9;
}
.form-group-btm1 {
    padding:10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
    width:30%;
    font-size: 16px;
    background-color:rgb(145, 8, 8);;
    cursor: pointer;
    color: white;
    opacity: 0.9;

}

.form-group-btm2 {
    padding:10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
    width: 30%;
    font-size: 16px;
    background-color: #5b636b;
    cursor: pointer;
    color: white;
    opacity: 0.9;

}
