* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center;  */
    height: 60px;
    background-color: black;
    color: white;
    /* position: fixed; */
    /* top: 0px; */

}

.header-box p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    color: #FFFFFF;
    /* padding-left: 244px; */
}


.SignInBox a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #FFFFFF;
}

.navbar-box {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;


}

.navbar-box p {
    font-size: 36px;
    color: #212529;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-box ul {
    display: flex;
    list-style: none;
}

.navbar-box ul li {
    /* padding: 20px; */
}

.navbar-box ul li a {
    text-decoration: none;
    /* position: relative; */
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    z-index: 5;
}

.navbar-box ul li a:hover {
    border-bottom: 2px solid red;
}
.container {
    background-color: #FFFFFF;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-right: 0px;


}
.container ul{
    display: flex;
    list-style: none;
    
}
.container ul li a{
    /* text-decoration: none; */
    color: #111111;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}
.Product-section img {
    margin-left: 400px;
    
}
