* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center;  */
    height: 60px;
    background-color: black;
    color: white;
    /* position: fixed; */
    /* top: 0px; */

}

.header-box p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    color: #FFFFFF;
    /* padding-left: 244px; */
}


.SignInBox a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #FFFFFF;
}

.navbar-box {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;


}

.navbar-box p {
    font-size: 36px;
    color: #212529;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-box ul {
    display: flex;
    list-style: none;
}

.navbar-box ul li {
    /* padding: 20px; */
}

.navbar-box ul li a {
    text-decoration: none;
    /* position: relative; */
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    z-index: 5;
}

.navbar-box ul li a:hover {
    border-bottom: 2px solid red;
}
.container {
    background-color: #FFFFFF;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-right: 0px;


}
.container ul{
    display: flex;
    list-style: none;
    
}
.container ul li a{
    /* text-decoration: none; */
    color: #111111;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 530px;
    margin: auto;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
  }
h2{
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;

}

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .Product-contents p{
     font-size: 20px;
     font-family: "Nunito Sans", sans-serif;
     text-align: center;
     padding: 15px;
  }
  .Product-contents form{
    font-size: 20px;
     font-family: "Nunito Sans", sans-serif;
     text-align: center;
     padding: 0px;
  }

  .Product-contents select{
    border: 1px solid black;
    width: 300px;
    height: 50px;
    font-size: 20px;
  }
  .Product-contents input{
    text-align: center;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    width: 200px;
    background-color: black;
    color: #FFFFFF;

  }
  .btn button {
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
  }

 .bottom-contens p{
    font-size: 20px;
    font-weight: 700;
    font-family:  "Nunito Sans", sans-serif;
    text-align: center;
 }