* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center;  */
    height: 60px;
    background-color: black;
    color: white;
    /* position: fixed; */
    /* top: 0px; */

}

.header-box p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    color: #FFFFFF;
    /* padding-left: 244px; */
}

.SignInBox a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #FFFFFF;
}

.navbar-box {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;


}

.navbar-box p {
    font-size: 36px;
    color: #212529;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-box ul {
    display: flex;
    list-style: none;
}

.navbar-box ul li {
    padding: 20px;
}

.navbar-box ul li a {
    text-decoration: none;
    /* position: relative; */
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    z-index: 5;
}

.navbar-box ul li a:hover {
    border-bottom: 2px solid red;
}

.hero {
    background: url(/hero02.jpg) no-repeat center center/cover;
    height: 100vh;
    padding-top: 50px;
    align-content: center;
  }
  
  .hero-heading {
    font-size: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.864);
  }
  
  /* hero section close */
  /* story section  start*/
  #story {
    padding-top: 50px;
  }
  
  .story-main-section {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 50px;
  }
  
  .story-main-section {
    margin-left: 140px;
    margin-right: 140px;
    padding: 75px 0px 120px;
  }
  
  .story-1 {
    width: 85%;
  }
  
  .story-1 h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-family:  "Nunito Sans", sans-serif;
  }
  
  .story-1 p {
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.7;
    font-family:  "Nunito Sans", sans-serif;
  }
  
  /*  */
  .story-imag1 {
    background-color: #0b0c0c;
    height: 400px;
    width: 380px;
  }
  
  .story-imag1 img {
    width: 100%;
    height: 370px;
    padding: 20px;
  }
  
  /* story imgage 2 */
  .story-main-section2 {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 50px;
    gap: 80px;
  }
  
  .story-main-section2 {
    margin-left: 140px;
    padding: 75px 0px 120px;
  }
  
  .story-2 {
    width: 85%;
  }
  
  .story-2 h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family:  "Nunito Sans", sans-serif;
  }
  
  .story-2 p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.7;
  }
  
  .story-imag2 {
    background-color: #0d0d0e;
    height: 400px;
    width: 380px;
  }
  
  /*  */
  .story-imag2 img {
    width: 100%;
    height: 380px;
    padding: 20px;
  }
  
  .story-2-para {
    width: 80%;
    font-style: italic;
    padding-left: 20px;
    border-left: 3px solid wheat;
    font-size: 20px;
    opacity: 0.5;
    /* font-weight: 100px; */
    font-family: "Nunito Sans", sans-serif ;
  }
  
  span {
    font-style: normal;
  }
  
.container2 {
    padding: 90px 0px;
    
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4,1fr);
    color: #FFFFFF;
    width: 90%;


}

.footer_container {
    width: 100%;
    min-height: 300px;
    background-color: #111111;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.container2 p2 {
    font-size: 36px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.container2 ul h2 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 ul li {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    padding: 5px;
    list-style: none;
    text-align: left;
    margin-top: 12px;

}

.container2 p1 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
}


.container2 input {
    font-size: 16px;
    color: #3d3d3d;
    background: transparent;
    border: none;
    padding: 15px 0px;
    border-bottom: 1px solid #FFFFFF;


}

.container2 input:focus {
    outline: none;
}

.bottomLine {
    width: 80%;
}

.footer_box01 {
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_box4 {
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
