* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center;  */
    height: 60px;
    background-color: black;
    color: white;
    /* position: fixed; */
    /* top: 0px; */

}

.header-box p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    color: #FFFFFF;
    /* padding-left: 244px; */
}


.SignInBox a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #FFFFFF;
}

.navbar-box {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;


}

.navbar-box p {
    font-size: 36px;
    color: #212529;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-box ul {
    display: flex;
    list-style: none;
}

.navbar-box ul li {
    padding: 20px;
}

.navbar-box ul li a {
    text-decoration: none;
    /* position: relative; */
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    z-index: 5;
}

.navbar-box ul li a:hover {
    border-bottom: 2px solid red;
}

/* HUMBER MENU */
.navbar label {
    margin: 30px;
    display: none;
}

#click {
    display: none;
}



.navbar-box img {
    padding: 15px;
}



.Hero-content p {
    font-size: 20px;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 265px;
    margin-top: 100px;

}
.dropdown{
    margin-left: 265px;
    margin-top: 50px;
}
.dropdown input{
    padding: 8.5px 20px;
    font-size: 17px;

}

.fa-search{
    font-size: 17px;
    padding: 5px;
}
.mybtn{
    /* background-color:#f4f4f4; */
    color:black;
    font-size: 20px;
    border: none;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;

}
.dropdown{
    position: relative;
    display: inline-block;
}
ul a{
    display: block;
    color: #333;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    /* background-color: #333; */
    color: #f4f4f4;
}
.dropdown-content{
    position: absolute;
    width: 150px;
    /* background-color: #f4f4f4; */
    display: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}


/*  */

.btn3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    justify-content: left;
}
.search-icons{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
   
}
.search-icons i{
    /* border: 1px solid black; */
    font-size: 27px;
    margin-left: -50px;
    cursor: pointer;
  
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    /* margin-left: 150px; */
    /* margin-right: 150px; */
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box img {

    margin-bottom: 30px;
    margin-left: 20px;
    width: 380px;
    height: 550px;


}

.price {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;
}

.brandName {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;

}
.container2 {
    /* width: 100%;
    min-height: 300px;
    background-color: #111111; */
    padding: 90px 0px;
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-evenly; */
    color: #FFFFFF;
    width: 90%;


}

.footer_container {
    width: 100%;
    min-height: 300px;
    background-color: #111111;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.container2 p2 {
    font-size: 36px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.container2 ul h2 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 ul li {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    padding: 5px;
    list-style: none;
    text-align: left;
    margin-top: 12px;

}

.container2 p1 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
}


.container2 input {
    font-size: 16px;
    color: #3d3d3d;
    background: transparent;
    border: none;
    padding: 15px 0px;
    border-bottom: 1px solid #FFFFFF;


}

.container2 input:focus {
    outline: none;
}

.bottomLine {
    width: 80%;
}

.footer_box01 {
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_box4 {
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}