* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center;  */
    height: 60px;
    background-color: black;
    color: white;
    /* position: fixed; */
    /* top: 0px; */

}

.header-box p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    color: #FFFFFF;
    /* padding-left: 244px; */
}

.SignInBox a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px;
    color: #FFFFFF;
}

.navbar-box {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;


}

.navbar-box p {
    font-size: 36px;
    color: #212529;
    font-family: "Nunito Sans", sans-serif;
}

.navbar-box ul {
    display: flex;
    list-style: none;
}

.navbar-box ul li {
    padding: 20px;
}

.navbar-box ul li a {
    text-decoration: none;
    /* position: relative; */
    font-size: 20px;
    font-weight: 500;
    color: #111111;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    z-index: 5;
}

.navbar-box ul li a:hover {
    border-bottom: 2px solid red;
}


/* HUMBER MENU */



.navbar-box img {
    padding: 15px;
}

.Hero-Section {
    overflow: hidden;


}

.hero-box img {
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;


}

.hero-box {
    width: 100%;
    display: flex;
    animation: slide 9s infinite linear;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.hero-heading {
    position: absolute;
    top: 90vh;
    left: 35%;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    
}

.hero-heading button a {
    border: 2px solid black;
    color: #FFFFFF;
    background-color: #111111;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;


}

.cards-box {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.cards-box ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    margin: 50px 0px;
}

.cards-box ul li {
    /* padding: 100px; */
}

.cards-box ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    color: #111111;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
   
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box img {

    margin-bottom: 30px;
    margin-left: 20px;
    width: 380px;
    height: 550px;


}

.price {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;
}

.brandName {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 {
    padding: 90px 0px;
    
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4,1fr);
    color: #FFFFFF;
    width: 90%;


}

.footer_container {
    width: 100%;
    min-height: 300px;
    background-color: #111111;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.container2 p2 {
    font-size: 36px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.container2 ul h2 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;

}

.container2 ul li {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    padding: 5px;
    list-style: none;
    text-align: left;
    margin-top: 12px;

}

.container2 p1 {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
}


.container2 input {
    font-size: 16px;
    color: #3d3d3d;
    background: transparent;
    border: none;
    padding: 15px 0px;
    border-bottom: 1px solid #FFFFFF;


}

.container2 input:focus {
    outline: none;
}

.bottomLine {
    width: 80%;
}

.footer_box01 {
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_box4 {
    text-align: left;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* HomeBurger Menu */

.navbar label {
    margin: 30px;
    display: none;
}

#click {
    display: none;
}


/* Media Quary */
@media screen and (min-width:769px) and (max-width:1200px){
 .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }   
}



@media screen and (max-width:768px) {
    .container2{
        grid-template-columns: repeat(2,1fr);
    }

    .navbar label {
        display: block;
        color: rgb(12, 11, 11);

    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 50;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.273);
        color: white;
        z-index: 2;

    }

    .navbar ul li {
        margin: 5px;

    }

    .navbar ul li a {
        color: white;
    }

    .navbar ul li a:hover {
        color: black;
    }

    #click:checked~.navbar ul {
        display: flex;
    }

    .cards {
        /* display: grid; */
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .hero-heading {
        top: 50vh;
        font-size: 25px;


    }

    .shopnowbtn {
        margin-top: 30px;
    }

    .cards-box ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        margin: 50px 0px;
    }

    .box img {
        margin-bottom: 30px;
        /* margin-left: 0px; */
        width: 300px;
        height: 550px;
    }

    .container2 {
        padding: 90px 0px;
        grid-template-columns: auto auto;
        color: #FFFFFF;
        width: 90%;


    }

}

/* MObile Media Quary */

@media screen and (max-width:500px) {


    .navbar label {
        display: block;
        color: rgb(12, 11, 11);

    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 50;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.273);
        color: white;
        z-index: 2;

    }

    .navbar ul li {
        margin: 5px;

    }

    .navbar ul li a {
        color: white;
    }

    .navbar ul li a:hover {
        color: black;
    }

    #click:checked~.navbar ul {
        display: flex;
    }




    .cards {
        /* display: grid; */
        grid-template-columns: auto;
        justify-content: center;
    }

    .hero-heading {
        top: 50vh;
        font-size: 15px;


    }

    .hero-heading button a {
        border: 2px solid black;
        color: #FFFFFF;
        background-color: #111111;
        padding: 10px 10px;
        font-size: 11px;
        text-decoration: none;
    }

    .shopnowbtn {
        margin-top: 20px;

    }

    .cards-box ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        margin: 50px 0px;
    }

    .box img {
        margin-bottom: 30px;
        /* margin-left: 0px; */
        width: 300px;
        height: 550px;
    }

    .container2 {
        display: grid;
        grid-template-columns: auto;
    }

    .footer_container p {
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Nunito Sans", sans-serif;
        text-align: center;
    }
}